@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:global(body) {
  background-size: cover;
  /* background-image: url('/Dexter.jpg'); */
  font-family: "Comfortaa", cursive;
  background-color: #dddddd;
}
.dexter {
  width: 100%;
  height: 50%;
  display: block;
  align-items: center;
  opacity: 0.5;
}
.paragraph {
  display: flex;
  align-items: center;
  text-align: center;
  width: 65%;
  font-size: large;
  height: 200px;
  line-height: 1.2;
  margin: auto;
}
/* .navigation {
  height: 3.5em;
  text-align: center;
}
.navigation ul {
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
}

.navigation li {
  color: black;
  float: center;
  display: inline;
}

.navigation ul li a {
  padding: 0 30px;
  float: left;
  display: block;
  color: black;
  font-size: large;
  text-decoration: none;
} */
.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer .footer-links {
  padding-left: 40px;
  width: 40px;
}
